body {
    font-family: 'Open Sans', sans-serif;
    background-color: #1a202c; /* Dark background for the body */
    color: #cbd5e0; /* Lighter text color for readability */
}
.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.navbar {
    background-color: #2d3748; /* Darker background for the navbar */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Adjusted for darker theme */
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-brand {
    font-size: 30px; 
    font-weight: 700;
    color: #63b3ed; /* Bright color for brand to stand out */
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-brand:hover {
    color: #90cdf4; /* A lighter shade for hover */
}

.navbar-links {
    display: flex;
    gap: 30px; 
}

.navbar-links a {
    color: #a0aec0; /* A lighter color for links to stand out on dark bg */
    text-decoration: none;
    font-size: 18px; 
    font-weight: 500; 
    padding: 10px 15px; 
    border-radius: 5px; 
    transition: all 0.3s ease;
}

.navbar-links a:hover {
    color: #2b6cb0; /* Brighter color for hover */
    background-color: #4a5568; /* Darker background for hover */
}

#banner {
    background-image: url('/img/homebanner.png'); /* Path to your background image */
    background-size: cover; /* Cover the entire area of the banner */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background */
    text-align: center; /* Center the text inside the banner */
    height: 300px; /* Set the height of the banner */
    display: flex; /* Use flexbox to center content */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    color: #ffffff; /* Set text color */
    font-family: 'Open Sans', sans-serif; /* Font family */
    font-size: 2.5rem; /* Large font size for the banner text */
    margin-bottom: 50px; /* Space after the banner */
}

h1 {
    margin: 0; /* Remove the default margin */
    /* Adding text outline */
    color: white; /* Set the text color to white */
    text-shadow:
        -1px -1px 0 #000,  
         1px -1px 0 #000,
         -1px 1px 0 #000,
         1px 1px 0 #000; /* Black text shadows to create an outline effect */
}

/* ... home ... */

#home {
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Full height of the viewport */
    padding: 50px;
    background-color: #1a202c; /* Dark gray background */
    color: #cbd5e0; /* Light text for contrast */
    font-family: 'Open Sans', sans-serif;
}

.container-home {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Spacing between text and image */
    max-width: 1200px; /* Maximum width of the container */
    width: 100%;
    margin: 0 auto; /* Centering the container */
}

.home-text {
    flex: 1; /* Allows the text container to grow and take up space */
    padding-right: 50px; /* Spacing between text and image */
}

.home-text h1 {
    font-size: 2.5rem; /* Large font size for the heading */
    color: #cbd5e0; /* Slightly light color for the heading */
    margin-bottom: 20px; /* Margin below the heading */
}

.home-text p {
    font-size: 1rem; /* Font size for the paragraph */
    line-height: 1.6; /* Line height for readability */
}
.profile-picture {
    border: 8px solid #e2e8f0;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: 40px auto;
}
.home-image {
    flex-shrink: 0; /* Prevents the image from shrinking */
    width: 300px; /* Width of the image */
    height: 300px; /* Height of the image */
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image covers the area */
}
.get-in-touch {
    margin-top: 40px;
    text-align: center;
}

.get-in-touch a {
    color: #3182ce;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s ease;
}

.get-in-touch a:hover {
    color: #2c5282;
}

/* ... about ... */

.section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.experience-section, .education-section {
    margin: 20px 0;
    padding: 20px;
    background-color: #1a202c; /* Light grey background */
  }
  
  .experience-section h2, .education-section h2 {
    font-size: 1.5rem;
    color: #7d98f0;
    margin-bottom: 15px;
  }
  
  .work-experience, .education {
    background-color: #1a202c;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
    margin-bottom: 10px;
    padding: 15px;
    border-left: 5px solid #3498db; /* A blue accent on the left */
  }
  
  .work-experience h3, .education h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #cbbc99;
  }
  
  .work-experience p, .education p {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 5px;
  }

.about-me {
    padding: 40px 0;
    text-align: center;
}

.about-me h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}

.about-me p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* ... blogs ... */

.blog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.blog-card {
    transition: transform 0.3s ease-in-out;
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 8px;
}

.blog-card img {
    width: 100%;
    margin-bottom: 10px;
}

.blog-card h3 {
    font-size: var(--font-large);
    font-weight: 600;
    margin-bottom: 10px;
}

.blog-card p {
    font-size: var(--font-primary);
    line-height: 1.5;
}

.blog-card:hover {
    transform: scale(1.05);
}

/* ... project ... */

.project {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.project-card {
    transition: transform 0.3s ease-in-out;
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 8px;
}

.project-card img {
    width: 100%;
    margin-bottom: 10px;
}

.project-card h3 {
    font-size: var(--font-large);
    font-weight: 600;
    margin-bottom: 10px;
}

.project-card p {
    font-size: var(--font-primary);
    line-height: 1.5;
}

.project-card:hover {
    transform: scale(1.05);
}

/* ... contact ... */

#contact {
    background-color: #2d3748; /* Adjusted for dark theme */
    padding: 40px 0; 
    text-align: center; 
}

.contact-form {
    max-width: 600px;
    margin: auto;
    background: #34495e; /* Slightly lighter shade for contrast */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form label {
    display: block;
    color: #ecf0f1;
    margin-bottom: 5px;
    margin-top: 20px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #7f8c8d;
    background: #ecf0f1;
    color: #2c3e50;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: #18bc9c; /* Highlight color */
}

.contact-form button {
    width: 100%;
    background-color: #18bc9c; /* Accent color for the button */
    color: #ecf0f1;
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.contact-form button:hover {
    background-color: #16a085; /* Darker shade for hover state */
}

/* Additional styles to remove spacing and outline */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

/* ... footer ... */

.footer {
    background-color: #2d3748; /* Footer background color for dark theme */
    padding: 20px;
    color: #a0aec0; /* Lighter text color for readability */
}